.jwplayer.jw-skin-lrt {
  width: 100%;
}
.jwplayer.jw-skin-lrt.jw-flag-audio-player,
.jwplayer.jw-skin-lrt.jw-state-complete .jw-controls,
.jwplayer.jw-skin-lrt.jw-state-idle .jw-controls,
.jwplayer.jw-skin-lrt .jw-wrapper {
  background-color: transparent;
}
.jwplayer.jw-skin-lrt :not(.jw-flag-touch) .jw-button-color:not(.jw-logo-button):focus,
.jwplayer.jw-skin-lrt :not(.jw-flag-touch) .jw-button-color:not(.jw-logo-button):hover {
  color: #000;
}
.jwplayer.jw-skin-lrt:not(.jw-breakpoint-0) .jw-text-duration:before,
.jwplayer.jw-skin-lrt:not(.jw-breakpoint--1) .jw-text-duration:before {
  content: '|';
}
.jwplayer.jw-skin-lrt .jw-controls-backdrop {
  background-image: none;
}
.jwplayer.jw-skin-lrt .jw-controlbar .jw-icon {
  color: #5b5f66;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
.jwplayer.jw-skin-lrt .jw-controlbar .jw-icon.jw-button-color {
  color: #000;
}
.jwplayer.jw-skin-lrt .jw-controlbar .jw-icon.jw-button-color:hover {
  color: #616161;
}
.jwplayer.jw-skin-lrt .jw-controlbar .jw-text-elapsed {
  width: 50px;
  text-align: right;
  justify-content: flex-end;
}
.jwplayer.jw-skin-lrt .jw-icon-settings:after,
.jwplayer.jw-skin-lrt .jw-icon-volume:after,
.jwplayer.jw-skin-lrt .jw-settings-menu .jw-icon:after {
  display: none;
}
.jwplayer.jw-skin-lrt .jw-slider-time .jw-rail {
  background-color: #fafafa;
}
.jwplayer.jw-skin-lrt .jw-horizontal-volume-container .jw-rail {
  background-color: #e0e3e9;
  height: 1px;
}
.jwplayer.jw-skin-lrt .jw-horizontal-volume-container .jw-progress {
  background-color: #000;
}
.jwplayer.jw-skin-lrt .jw-horizontal-volume-container .jw-buffer,
.jwplayer.jw-skin-lrt .jw-slider-time .jw-buffer {
  background-color: #e0e3e9;
}
.jwplayer.jw-skin-lrt .jw-progress {
  background-color: #0078d6;
}
.jwplayer.jw-skin-lrt .jw-knob {
  transform: translate(-50%, -50%) scale(1);
  box-shadow: none;
  background-color: #000;
}
.jwplayer.jw-skin-lrt .jw-svg-icon-next,
.jwplayer.jw-skin-lrt .jw-svg-icon-pause,
.jwplayer.jw-skin-lrt .jw-svg-icon-play,
.jwplayer.jw-skin-lrt .jw-svg-icon-rewind,
.jwplayer.jw-skin-lrt .jw-svg-icon-volume-0,
.jwplayer.jw-skin-lrt .jw-svg-icon-volume-50,
.jwplayer.jw-skin-lrt .jw-svg-icon-volume-100 {
  background-size: cover;
}
.jwplayer.jw-skin-lrt .jw-svg-icon-next path,
.jwplayer.jw-skin-lrt .jw-svg-icon-pause path,
.jwplayer.jw-skin-lrt .jw-svg-icon-play path,
.jwplayer.jw-skin-lrt .jw-svg-icon-rewind path,
.jwplayer.jw-skin-lrt .jw-svg-icon-volume-0 path,
.jwplayer.jw-skin-lrt .jw-svg-icon-volume-50 path,
.jwplayer.jw-skin-lrt .jw-svg-icon-volume-100 path {
  display: none;
}
.jwplayer.jw-skin-lrt .jw-text-elapsed {
  padding-left: 10px;
}
.jwplayer.jw-skin-lrt .jw-text-duration {
  padding-right: 16px;
}
.jwplayer.jw-skin-lrt.jw-breakpoint-7 .jw-controlbar .jw-slider-time {
  padding: 0 12px;
  height: 17px;
}
.jwplayer.jw-skin-lrt.jw-breakpoint-7 .jw-controlbar .jw-slider-time .jw-slider-container {
  height: 5px;
}
.jwplayer.jw-skin-lrt.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-icon-inline,
.jwplayer.jw-skin-lrt.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-icon-volume {
  width: 44px;
  height: 44px;
}
.jwplayer.jw-skin-lrt.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-icon-inline .jw-svg-icon,
.jwplayer.jw-skin-lrt.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-icon-volume .jw-svg-icon {
  width: 24px;
  height: 24px;
}
.jwplayer.jw-skin-lrt.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-text {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  width: auto;
  height: auto;
}
/* .jwplayer.jw-skin-lrt .jw-svg-icon-next{
  background-image:url(/images/svg/skip-forward.svg)
}
.jwplayer.jw-skin-lrt .jw-svg-icon-play{
  background-image:url(/images/svg/play.svg)
}
.jwplayer.jw-skin-lrt .jw-svg-icon-pause{
  background-image:url(/images/svg/pause.svg)
}
.jwplayer.jw-skin-lrt .jw-svg-icon-rewind{
  background-image:url(/images/svg/seek-backward.svg)
}
.jwplayer.jw-skin-lrt .jw-svg-icon-volume-0{
  background-image:url(/images/svg/volume-none.svg)
}
.jwplayer.jw-skin-lrt .jw-svg-icon-volume-50{
  background-image:url(/images/svg/volume-min.svg)
}
.jwplayer.jw-skin-lrt .jw-svg-icon-volume-100{
  background-image:url(/images/svg/volume-max.svg)
} */
.jwplayer.jw-skin-lrt .jw-flag-dragging .jw-horizontal-volume-container .jw-buffer,
.jwplayer.jw-skin-lrt .jw-flag-dragging .jw-horizontal-volume-container .jw-cue,
.jwplayer.jw-skin-lrt .jw-flag-dragging .jw-horizontal-volume-container .jw-progress,
.jwplayer.jw-skin-lrt .jw-flag-dragging .jw-horizontal-volume-container .jw-rail,
.jwplayer.jw-skin-lrt .jw-flag-dragging .jw-slider-time .jw-buffer,
.jwplayer.jw-skin-lrt .jw-flag-dragging .jw-slider-time .jw-cue,
.jwplayer.jw-skin-lrt .jw-flag-dragging .jw-slider-time .jw-progress,
.jwplayer.jw-skin-lrt .jw-flag-dragging .jw-slider-time .jw-rail,
.jwplayer.jw-skin-lrt .jw-flag-touch .jw-horizontal-volume-container .jw-buffer,
.jwplayer.jw-skin-lrt .jw-flag-touch .jw-horizontal-volume-container .jw-cue,
.jwplayer.jw-skin-lrt .jw-flag-touch .jw-horizontal-volume-container .jw-progress,
.jwplayer.jw-skin-lrt .jw-flag-touch .jw-horizontal-volume-container .jw-rail,
.jwplayer.jw-skin-lrt .jw-flag-touch .jw-slider-time .jw-buffer,
.jwplayer.jw-skin-lrt .jw-flag-touch .jw-slider-time .jw-cue,
.jwplayer.jw-skin-lrt .jw-flag-touch .jw-slider-time .jw-progress,
.jwplayer.jw-skin-lrt .jw-flag-touch .jw-slider-time .jw-rail,
.jwplayer.jw-skin-lrt .jw-horizontal-volume-container:focus .jw-buffer,
.jwplayer.jw-skin-lrt .jw-horizontal-volume-container:focus .jw-cue,
.jwplayer.jw-skin-lrt .jw-horizontal-volume-container:focus .jw-progress,
.jwplayer.jw-skin-lrt .jw-horizontal-volume-container:focus .jw-rail,
.jwplayer.jw-skin-lrt .jw-horizontal-volume-container:hover .jw-buffer,
.jwplayer.jw-skin-lrt .jw-horizontal-volume-container:hover .jw-cue,
.jwplayer.jw-skin-lrt .jw-horizontal-volume-container:hover .jw-progress,
.jwplayer.jw-skin-lrt .jw-horizontal-volume-container:hover .jw-rail,
.jwplayer.jw-skin-lrt .jw-slider-time:focus .jw-buffer,
.jwplayer.jw-skin-lrt .jw-slider-time:focus .jw-cue,
.jwplayer.jw-skin-lrt .jw-slider-time:focus .jw-progress,
.jwplayer.jw-skin-lrt .jw-slider-time:focus .jw-rail,
.jwplayer.jw-skin-lrt .jw-slider-time:hover .jw-buffer,
.jwplayer.jw-skin-lrt .jw-slider-time:hover .jw-cue,
.jwplayer.jw-skin-lrt .jw-slider-time:hover .jw-progress,
.jwplayer.jw-skin-lrt .jw-slider-time:hover .jw-rail {
  transform: translateY(-50%) scaleY(0.6);
}
