<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>LRT.lt</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>lrt</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lrt</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>${PRODUCT_NAME} uses Bluetooth to discover nearby Cast devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>${PRODUCT_NAME} uses Bluetooth to discover nearby Cast devices.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
		<string>_CC1AD845._googlecast._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>${PRODUCT_NAME} uses the local network to discover Cast-enabled devices on your WiFi
			network.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Optional permission required by 3rd party library. If you see this, you can deny
			access.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Optional permission required by 3rd party library. If you see this, you can deny
			access.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Optional permission required by 3rd party library. If you see this, you can deny
			access.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>${PRODUCT_NAME} uses microphone access to listen for ultrasonic tokens when pairing
			with nearby Cast devices.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>${PRODUCT_NAME} uses photo library access to select images for sharing.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Nuasmeninti duomenys bus naudojami statistikai ir paslaugų kokybei užtikrinti.</string>
	<key>RCTNewArchEnabled</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-SemiBold.ttf</string>
		<string>SourceSansPro-LightItalic.ttf</string>
	</array>
	<key>UIApplicationSupportsMultipleScenes</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISceneConfigurations</key>
	<dict>
		<key>CPTemplateApplicationSceneSessionRoleApplication</key>
		<array>
			<dict>
				<key>UISceneClassName</key>
				<string>CPTemplateApplicationScene</string>
				<key>UISceneConfigurationName</key>
				<string>CarPlay</string>
				<key>UISceneDelegateClassName</key>
				<string>$(PRODUCT_MODULE_NAME).CarSceneDelegate</string>
			</dict>
		</array>
		<key>UIWindowSceneSessionRoleApplication</key>
		<array>
			<dict>
				<key>UISceneClassName</key>
				<string>UIWindowScene</string>
				<key>UISceneConfigurationName</key>
				<string>Phone</string>
				<key>UISceneDelegateClassName</key>
				<string>$(PRODUCT_MODULE_NAME).PhoneSceneDelegate</string>
			</dict>
		</array>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
